# dbt build artifacts
target/
dbt_packages/
logs/
manifest.json
run_results.json
sources.json
catalog.json

# IDE stuff
.DS_Store
.vscode/
.idea/

# Default .gitignore content added by dbt Cloud# you shouldn't commit these into source control
# these are the default directory names, adjust/add to fit your needs
target/
dbt_packages/
logs/
# end dbt Cloud content
